h3 {
    color: rgb(99, 63, 81);

    font-size: 35px;
    font-family: 'Bebas Neue';
    text-align: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-image: url(https://www.arquitecturaydiseno.es/medio/2022/03/19/apertura-macrame_84504a26_1280x794.jpg);
    background-position: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
}

h6 {
    color: rgb(216, 84, 128);
    font-size: 30px;
    font-family: 'Bebas Neue';
    margin-left: 100px;
    padding: 50px;

}